<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div>
    <h1 fxLayoutAlign="center" translate>APP_NAME</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <h4 class="version">v{{ version }}</h4>
    </div>
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <!-- Complete Password Reset -->
      <h2 fxLayoutAlign="center">Reset</h2>
      <form (ngSubmit)="completeForgotPassword()" [formGroup]="form" novalidate>
        <div class="reset-error" [hidden]="!resetError || isLoading">
          {{ resetError }}
        </div>
        <br />
        <div fxLayout="column">
          <mat-form-field>
            <input type="text" id="username" matInput formControlName="username" autocomplete="username" [placeholder]="'Username'" />
            <mat-error *ngIf="form.controls.username.valid || form.controls.username.untouched">
              <span>Username is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" id="code" matInput formControlName="code" autocomplete="code" [placeholder]="'Verification Code'" />
            <mat-error *ngIf="form.controls.code.valid || form.controls.code.untouched">
              <span>Verification code is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" id="password" matInput formControlName="password" autocomplete="password" [placeholder]="'New Password'" required />
            <mat-error *ngIf="form.controls.password.valid || form.controls.password.untouched">
              <span>Password must contain: 1 uppercase, 1 lowercase, 1 number, 1 special character, at least 8 characters in length.</span>
            </mat-error>
          </mat-form-field>
          <br />
          <button mat-raised-button color="primary" type="submit" id="reset-button" [disabled]="form.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span>Reset</span>
          </button>
          <br />
          <div>Need an account? <a class="sign-up" routerLink="/signup">Sign Up</a></div>
          <div>Already have an account? <a class="login" routerLink="/login">Login</a></div>
        </div>
      </form>
      <!-- / Complete Password Reset -->
    </mat-card>
  </div>
</div>
