<h2 fxLayoutAlign="center">Change Your Password</h2>
<form (ngSubmit)="changePassword()" [formGroup]="form" novalidate>
  <div fxLayout="column">
    <!-- Current Password -->
    <mat-form-field>
      <input
        id="current-password"
        type="password"
        matInput
        formControlName="currentPassword"
        autocomplete="currentPassword"
        [placeholder]="'Current Password*'"
      />
      <mat-error *ngIf="form.controls.currentPassword.valid || form.controls.currentPassword.untouched">
        <span>Current password is required</span>
      </mat-error>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field>
      <input
        id="new-password"
        type="password"
        matInput
        formControlName="newPassword"
        autocomplete="newPassword"
        [placeholder]="'New Password*'"
        required
      />
      <mat-error *ngIf="form.controls.newPassword.valid || form.controls.newPassword.untouched">
        <span>New Password is required</span>
      </mat-error>
    </mat-form-field>

    <!-- Confirm New Password -->
    <mat-form-field>
      <input
        id="confirm-new-password"
        type="password"
        matInput
        formControlName="confirmNewPassword"
        autocomplete="confirmNewPassword"
        [placeholder]="'Confirm New Password*'"
        required
      />
      <mat-error *ngIf="form.controls.confirmNewPassword.valid || form.controls.confirmNewPassword.untouched">
        <span>New Password is required</span>
      </mat-error>
      <mat-error *ngIf="form.controls.confirmNewPassword.errors?.passwordsDontMatch">
        <span>{{ form.controls.confirmNewPassword.errors.passwordsDontMatch }}</span>
      </mat-error>
    </mat-form-field>

    <br />
    <button id="change-password-btn" mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
      <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
      <span>Change Password</span>
    </button>
  </div>
</form>
