<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div>
    <h1 fxLayoutAlign="center" translate>APP_NAME</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <h4 class="version">v{{ version }}</h4>
    </div>
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <!-- Initiate Password Reset -->
      <h2 fxLayoutAlign="center">Reset My Password</h2>
      <form (ngSubmit)="initiateForgotPassword()" [formGroup]="initResetForm" novalidate>
        <div class="login-error" [hidden]="!initResetError || isLoading">
          {{ initResetError }}
        </div>
        <div fxLayout="column">
          <mat-form-field>
            <input type="text" matInput formControlName="email" autocomplete="email" [placeholder]="'Email'" required />
            <mat-error *ngIf="initResetForm.controls.email.valid || initResetForm.controls.email.untouched">
              <span>Email is required</span>
            </mat-error>
          </mat-form-field>
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="initResetForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span>Send Reset Link</span>
          </button>
          <br />
          <div>Already have an account? <a class="sign-up" routerLink="/login">Login</a></div>
        </div>
      </form>
      <!-- / Initiate Password Reset -->
    </mat-card>
  </div>
</div>
