<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" aria-label="Title">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>

  <div fxHide.lt-md>
    <a class="brand" routerLink="/" translate>APP_NAME</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </div>

  <span fxFlex></span>

  <small class="version">{{ version }}</small>

  <span *ngIf="authState" class="is-authenticated">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" id="menu" aria-label="Menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <mat-list>
        <mat-list-item>
          <span>Logged in as</span>&nbsp;<b>{{ username }}</b>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <button mat-menu-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
